@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    
}

[data-theme = "light"]{
    --bg-color : #ffffff;
    --text-color : #333333;
    --heading-color : #444444;
}

[data-theme = "dark"]{
    --bg-color : #0e0e0e;
    --text-color : #ffffff;
    --heading-color : #ffffff;
}

.mode-switch label{
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    margin-left: 10px;
}

.mode-switch .slider-round{
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}
.mode-switch input:checked + .slider-round {

    background-color: #2196f3;
}

.mode-switch .slider-round:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider-round:before {
  transform: translateX(20px);
}


.circular--square {
   
    border-radius: 50%; 
    
   
}